@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 244 244 245; /* zinc-100 */
  --background: 9 9 11;       /* zinc-950 */
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
